<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

   <servers>
		<!-- 用于nexus发布jar -->
        <server>
            <id>releases</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>thirdparty</id>
            <username>admin</username>
            <password>admin</password>
        </server>
		
		<server>
			<id>ossrh</id>
			<username>ksc_javasdk</username>
			<password>K1ngs0ft_sdk</password>
    	</server>
		
    </servers>
	
	<mirrors>
        <!-- 阿里镜像 -->
		
        <mirror>
            <id>nexus-aliyun</id>
            <mirrorOf>central</mirrorOf>
            <name>Nexus aliyun</name>
            <url>https://maven.aliyun.com/repository/central</url>
        </mirror>
		
    </mirrors>


    <profiles>
		<!-- 代码质量-所需的配置项-->
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://10.100.50.94:8888</sonar.host.url>
            </properties>
        </profile>
		
		<profile>
			<id>ksyun1</id>
			<repositories>
				<repository>
					<id>public</id>
					<url>http://10.69.34.219:8888/nexus/content/groups/public/</url>
				</repository>
			</repositories>
		</profile>
		
		<profile>
			<id>ksyun2</id>
			<repositories>
				<repository>
					<id>public</id>
					<url>http://10.69.42.34:8888/nexus/content/groups/public/</url>
				</repository>
			</repositories>
		</profile>
		

		
	
	 
    </profiles>
    
    <activeProfiles>  
    	<activeProfile>ossrh</activeProfile>  
  	</activeProfiles>  
</settings>